body {
  font-family: Arial, sans-serif;
  background-color: #f5d4ea;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  font-size: large;
  color: #d96cfa;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ee79f5;
  border-radius: 4px;
  color: #ee79f5;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #ee79f5;
  color: #d96cfa;
  cursor: pointer;
}
